.row {
  display: flex;
  flex-direction: row;
  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}
.column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.single-emploi-detail {
  width: 233px;
}

.emploi-detail {
  padding-top: 1rem;
  display: grid;
}

.single-emploi-detail {
  width: 233px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  margin-bottom: 30px;
  overflow: hidden;
}

.emploi-detail-thumb {
  position: relative;
  overflow: hidden;
}

.emploi-detail-tag {
  position: absolute;
  top: 14px;
  right: 14px;
  background: rgb(0 0 0 / 20%);
  border-radius: 10px;
  z-index: 1;
}

.emploi-detail-thumb img {
  width: 233px;
  vertical-align: middle;
  transition: 0.3s;
}

.single-emploi-detail:hover .emploi-detail-thumb img {
  transform: scale(1.06);
}

.emploi-detail-content {
  padding: 0px 25px 25px;
  border-bottom: 1px solid #e8e8e8;

}

.adress {
  font-size: 14px;
  color: black;
  opacity: 30%;
  margin-bottom: 6px;
  font-family: "Regular";
}


.titre-info {
  margin: 4px 0px;
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.info {
  display: block;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

.emploi-detail-footer {
  padding: 12px 25px;
}

.emploi-detail-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emploi-detail-footer ul li span {
  color: #001d38;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.emploi-detail-footer ul li img {
  width: 24px;
}

@media screen and (max-width: 1156px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .single-emploi-detail {
    width: 500px;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 170px;
  }

  .emploi-detail-content {
    padding: 0px 15px 15px;
  }

  .more-emploi-detail {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 560px) {
  .single-emploi-detail {
    width: 450px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }
}

@media screen and (max-width: 483px) {
  .single-emploi-detail {
    width: 233px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }

  .more-emploi-detail .emploi-detail-btn {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .single-emploi-detail {
    width: 233px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }

  .column {
    padding-left: 0;
    padding-right: 15px;
  }
}

@media screen and (max-width: 383) {
  .single-emploi-detail {
    width: 300px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }

  .emploi-detail-footer ul li span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 3px;
  }

  .emploi-detail-footer ul li img {
    width: 14px;
  }
}

@media screen and (max-width: 321px) {
  .single-emploi-detail {
    width: 270px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }

  .emploi-detail-footer {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 291px) {
  .single-emploi-detail {
    width: 230px;
  }

  .emploi-detail-thumb img {
    width: 100%;
    height: 100px;
  }

  .emploi-detail-content {
    padding: 0px 10px;
  }
}
