.profil p {
  padding: 1rem 0 2.5rem 0;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.6);
}

.profil h3 {
  font-size: 24px;
}

.profil .circular--portrait {
  width: 190px;
  height: 190px;
  margin: 1rem 0;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 15px 0rem;
  background: #2ec7d3;
  border-radius: 0px 0px 25px 25px;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
  margin-bottom: 2rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn-primaire {
  background: #2ec7d3;
  border-radius: 14px;
  width: 170px;
  height: 52px;
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
}

.btn-secondaire {
  background: #ffffff;
  border: 1px solid #3c3c3b;
  border-radius: 14px;
  width: 170px;
  height: 52px;
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
}

.titre-wishlist {
  display: flex;
  column-gap: 1rem;
  margin: 2rem 0;
  padding-left: 15px;
}

.titre-wishlist h3 {
  font-size: 20px;
}

.wishlist .btn-portfolio {
  width: 107px;
  height: 31px;
  background: #d9d9d9;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Ubuntu Mono", monospace;
}

.wishlist .btn-portfolio-active {
  width: 107px;
  height: 31px;
  background: #2ec7d3;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Ubuntu Mono", monospace;
}

