.forgot-password {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: #f2f2f2;
  position: relative;
}

.forgot-password p {
  width: 90%;
}


.forgot-password form{
    margin-top: -2rem;
}

.forgot-password .other-option{
    color: black;
}

