.property {
  padding-top: 9rem;
  padding-bottom: 1rem;
  display: grid;
  place-items: center;
}

.center h3 {
  font-size: 42px;
  font-weight: 500;
  color: #001d38;
}

.row {
  padding-top: 4rem;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.single-property {
  width: 350px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  margin-bottom: 30px;
  overflow: hidden;
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.property-thumb {
  position: relative;
  overflow: hidden;
}

.property-tag {
  position: absolute;
  top: 14px;
  right: 14px;
  background: rgb(0 0 0 / 20%);
  border-radius: 10px;
  z-index: 1;
}

.property-thumb img {
  width: 350px;
  vertical-align: middle;
  transition: 0.3s;
}

.single-property:hover .property-thumb img {
  transform: scale(1.06);
}

.property-content {
  padding: 0px 25px 25px;
  border-bottom: 1px solid #e8e8e8;
}

.property-content h3 {
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline;
  font-size: 16px;
  color: #001d38;
  font-weight: 500;
}

.adress {
  font-size: 14px;
  color: black;
  opacity: 30%;
  margin-bottom: 6px;
}

.mark-logement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mark-logement span {
  font-size: 13px;
  font-weight: 400;
  color: #919191;
}

.mark-logement .amount {
  font-weight: 700;
  color: #001d38;
  font-size: 14px;
}

.ville,
.surface {
  display: inline-block;
  background: #00d363;
  border-radius: 30px;
  padding: 5px 11px;
  color: #fff;
  margin: 11px 4px 6px;
  font-size: 14px;
  font-weight: 700;
}

.property-footer {
  padding: 12px 25px;
}

.property-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-footer ul li span {
  color: #001d38;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.property-footer ul li img {
  width: 24px;
}

.more-property {
  padding-top: 2rem;
}

.more-property .property-btn {
  padding: 14px 31px;
  display: inline-block;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #fdae5c;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fdae5c;
  transition: 0.5s ease;
}

.more-property .property-btn:hover {
  box-shadow: 0 0 40px 40px #fdae5c inset;
  color: #fff;
}

@media screen and (max-width: 1156px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .property {
    padding-bottom: 2rem;
  }

  .single-property {
    width: 500px;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .column {
    padding-bottom: 2rem;
  }

  .property-thumb img {
    width: 500px;
  }

  .property-content {
    padding: 0px 15px 15px;
  }

  .more-property {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 560px) {
  .single-property {
    width: 450px;
  }

  .property-thumb img {
    width: 450px;
  }

  .column {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 483px) {
  .center h3 {
    font-size: 35px;
  }

  .single-property {
    width: 350px;
  }

  .property-thumb img {
    width: 350px;
    height: 170px;
  }

  .more-property .property-btn {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {

  .property h3 {
    font-size: 17px;
  }

  .single-property {
    width: 350px;
  }

  .property-thumb img {
    width: 350px;
  }

  .column {
    padding-left: 0;
    padding-right: 15px;
  }
}

@media screen and (max-width: 383) {
  .property h3 {
    font-size: 28px;
  }

  .property-content h3 {
    font-size: 0px 14px;
  }

  .single-property {
    width: 300px;
  }

  .property-thumb img {
    width: 300px;
  }

  .property-footer ul li span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 3px;
  }

  .property-footer ul li img {
    width: 14px;
  }
}

@media screen and (max-width: 321px) {
  .single-property {
    width: 270px;
  }

  .property-thumb img {
    width: 270px;
  }

  .property-footer {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 291px) {
  .single-property {
    width: 230px;
  }

  .property-thumb img {
    width: 230px;
  }

  .property-content {
    padding: 0px 10px;
  }
}
