button {
  background: hsla(0, 0%, 0%, 0.2);
  width: 43px;
  height: 43px;
  border: none;
  border-radius: 10px;
}


.previous-tag {
  position: absolute;
  top: 6.5rem;
  left: 15px;
  background: rgb(0 0 0 / 20%);
  border-radius: 10px;
  z-index: 1;
}