
.emploi {
  padding-top: 1rem;
  display: grid;
}

.left-emploi {
  padding: 0rem 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-emploi h3 {
  font-size: 42px;
  font-weight: 500;
  color: #001d38;
}

.left-emploi span {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.emploi .row {
  display: flex;
  flex-wrap: nowrap
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.single-emploi {
  width: 153px;
  height: 153px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  margin-bottom: 30px;
  overflow: hidden;
  background: #f9f9f9;
}

.emploi .column-emploi{
  padding-right: 1rem;
}

.emploi-thumb {
  position: relative;
  overflow: hidden;
}

.emploi-tag {
  position: absolute;
  top: 0;
  left: 0;
  background: #00000050;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu Mono", monospace;

}

.emploi-thumb img {
  width: 153px;
  height: 153px;
  vertical-align: middle;
  transition: 0.3s;
}

.single-emploi:hover .emploi-thumb img {
  transform: scale(1.06);
}

.emploi-content h3 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #001d38;
  font-weight: 500;
}

.emploi-footer {
  padding: 12px 25px;
}

.emploi-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emploi-footer ul li span {
  color: #001d38;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.emploi-footer ul li img {
  width: 24px;
}

.more-emploi {
  padding-top: 2rem;
}

.more-emploi .emploi-btn {
  padding: 14px 31px;
  display: inline-block;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #fdae5c;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fdae5c;
  transition: 0.5s ease;
}

.more-emploi .emploi-btn:hover {
  box-shadow: 0 0 40px 40px #fdae5c inset;
  color: #fff;
}

@media screen and (max-width: 1156px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .more-emploi {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 560px) {
  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }
}

@media screen and (max-width: 484px) {
  .left-emploi h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .left-emploi span {
    font-size: 14px;
    font-weight: 700;
  }

  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .more-emploi .emploi-btn {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 431px) {
  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .single-emploi {
    width: 153px;
  }


}

@media screen and (max-width: 383px) {
  .left-emploi h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .left-emploi span {
    font-size: 14px;
    font-weight: 700;
  }

  .emploi-content h3 {
    font-size: 14px;
  }

  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .emploi-footer ul li span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 3px;
  }

  .emploi-footer ul li img {
    width: 14px;
  }
}

@media screen and (max-width: 321px) {
  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .emploi-footer {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 291px) {
  .single-emploi {
    width: 153px;
    height: 153px;
  }

  .emploi-thumb img {
    width: 153px;
    height: 153px;
  }

  .emploi-content {
    padding: 10px;
  }
}
