*,
::after,
::before {
  margin: 0;
  padding: 0;
}

.item {
  min-height: 4rem;
  width: 10rem;
  padding: 15px;
}

.propert {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.aide {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.emploi {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
