@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("DINOT-Regular"),
    url("./font/DINOT-Regular.ttf") format("truetype");
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

h3,
span,
p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
}

