.backdrop{
    background-color: rgb(0, 0, 0, 0.75);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    ;
}

.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 5rem;
    z-index: 20;
    overflow: hidden;

    background-color: #fff;
    border-radius: 10px;
    padding: 3rem 1rem 2rem ;
}

.modal .actions{
    display: flex;
    justify-content: center;
}

.modal .content p{
    margin-bottom: 2.5rem;
    text-align: center;
    width: 70%;
}

.modal .content{
    display: flex;
    justify-content: center;
}