.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items:stretch;
  padding: 7rem 15px 2rem;
}

.accordion {
  width: auto;
}

.accordion p {
  font-family: "regular";
  font-weight: 400;
  margin-left: 2rem;
}

.item-setting {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
}

.titre-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem  0  0;
  cursor: pointer;
}

.content-setting {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  max-height: 0;
}

.content-setting.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.show-low {
  rotate: 90deg;
}


.accordion .titre{
    text-align: center;
    font-size: 26px;
    margin-bottom: 2rem;
}

.accordion .logout{
  font-family: "regular";
  font-weight: 700;
  color: #2EC7D3;
  font-size: 16px;
}